a{text-decoration: none;}
a:hover{
    text-decoration: underline;
}

.banner{
    background-image: url(img/banner.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    padding:80px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
}

.intro {
width: 600px;
}


.a{width:110%;}

.b{width:80%;}
