.banner {
    background-image: url(img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.intro {
    width: 555px;
}
